@import "./responsive.scss";
.layout {
  max-width: 1366px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  height: 100vh;

  @include lg {
    max-width: 1280px;
  }
  @include md {
    max-width: 768px;
  }
  @include sm {
    max-width: 640px;
  }
}
